Import numpy and pandas.

In [1]:
import pandas as pd
import numpy as np

Using the bash magic command, view the list of files inside of the data directory.

You cant comment in the commandline it messes with it

the comment: Use bash magic command to view list of files in the current directory

In [9]:
%%bash
ls

README.md
data
wilmington_de_registered_voters.ipynb

Load the csv file into a Pandas DataFrame.

In [ ]:
# use read_csv to read in the data
reg_voter_df = pd.read_csv('./data/ActiveFile-Wilm1thru8-20191015.csv')
reg_voter_df.head()

/var/folders/98/9_hfbx1j37d31269lt42l9b40000gp/T/ipykernel_46497/2380314780.py:2: DtypeWarning: Columns (18,32,35,36,37,40,41,42,46) have mixed types. Specify dtype option on import or set low_memory=False.
  reg_voter_df = pd.read_csv('./data/ActiveFile-Wilm1thru8-20191015.csv')

,UNIQUE-ID,LAST-NAME,FIRST-NAME,MID-INIT,SUFFIX,YEAR-OF-BIRTH,HOME-NO,HOME-APT,HOME-STREET,HOME-DEV,...,REF-HIST-5,MAIL-NO,MAIL-APT,MAIL-STR,MAIL-CITY,MAIL-STATE,MAIL-ZIP,DATE-LAST-CHG,CODE-CHANGE,STATUS
0,100234840,ROY,BEVERLY,A,NaN,1952,320,#912,E 5TH ST,HERLIHY HOUSE APTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180715,CR,A
1,100685572,WILLIAMS,LISA,F,NaN,1968,826,NaN,W 5TH ST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180715,CR,A
2,100485262,HARRIS,JOSEPH,A,III,1963,2616,NaN,W 18TH ST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180715,CR,A
3,100349191,LAMBORN,GERALD,V,NaN,1958,706,NaN,W 34TH ST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190805,CR,A
4,100394887,KRYSTOPOLSKI,ANDREW,R,NaN,1981,1009,NaN,ANCHORAGE ST,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20180715,CR,A

Display a list of columns in the DataFrame.

In [12]:
# display the columns
reg_voter_df.columns

Index(['UNIQUE-ID', 'LAST-NAME', 'FIRST-NAME', 'MID-INIT', 'SUFFIX',
       'YEAR-OF-BIRTH', 'HOME-NO', 'HOME-APT', 'HOME-STREET', 'HOME-DEV',
       'HOME-CITY', 'HOME-ZIPCODE', 'COUNTY', 'ED', 'RD', 'SD', 'CNLEVY',
       'WILM', 'CODE-HOME-CITY', 'SCH-DIST', 'PARTY', 'DATE-REG', 'PP-HIST-1',
       'PP-HIST-2', 'PR-HIST-1', 'PR-HIST-2', 'PR-HIST-3', 'GEN-HIST-1',
       'GEN-HIST-2', 'GEN-HIST-3', 'GEN-HIST-4', 'GEN-HIST-5', 'SP-HIST-1',
       'SP-HIST-2', 'SP-HIST-3', 'SCHL-HIST-1', 'SCHL-HIST-2', 'SCHL-HIST-3',
       'SCHL-HIST-4', 'SCHL-HIST-5', 'REF-HIST-1', 'REF-HIST-2', 'REF-HIST-3',
       'REF-HIST-4', 'REF-HIST-5', 'MAIL-NO', 'MAIL-APT', 'MAIL-STR',
       'MAIL-CITY', 'MAIL-STATE', 'MAIL-ZIP', 'DATE-LAST-CHG', 'CODE-CHANGE',
       'STATUS'],
      dtype='object')

What is the shape of this DataFrame? How many columns does each row have? How many rows are there?

In [13]:
# shape of the dataFrame
reg_voter_df.shape

(51909, 54)

# HOME ZIP CODE

Group objects using the HOME-ZIPCODE column. Assign the value to a variable called grouped_zc.  
[Pandas Groupby User Guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html)

In [ ]:
#

What type of object is grouped_zc?

In [ ]:
#

DataFrameGroupBy objects contain a groups attribute. Display the value of the groups attribute belonging to the grouped_zc object.

In [ ]:
#

Invoke the size method on the grouped_zc object to find out how many items are associated with each zip code.

In [ ]:
#

Use a magic command so that matplotlib graphics will display inline.

In [ ]:
#

Create a pie chart illustrating the number of voters per zip code.

In [ ]:
#

# YEAR OF BIRTH

Group objects by the YEAR-OF-BIRTH column. Assign the value to an object called "grouped_yob".

In [ ]:
#

Display the value of the groups attribute belonging the grouped_yob object.

In [ ]:
#

Select the object for the row indicating that the voter was born in 1900.

In [ ]:
#

Graph a histogram to  illustrate the age distribution of voters in this dataset. Ty using different values for the bins attribute of the histogram.

In [ ]:
#

# PARTY

Group objects using the PARTY column. Assign the value to a variable called grouped_p.

In [ ]:
#

Display the value of the groups attribute belonging to the grouped_p object.

In [ ]:
#

Invoke the size method on the grouped_p object to find out how many items are associated with each party.

In [ ]:
#

Create a bar chart to visualize the number of voters associated with each party.

In [ ]:
#

# Merging Two DataFrames

Using the data from the documentation, create a Pandas DataFrame that contains the party code and the corresponding legal name for each party.

In [ ]:
# legal_names = {}

In [ ]:
# df_legal_names = pd.DataFrame(legal_names)

In [ ]:
# df_legal_names

Create a Pandas DataFrame that contains the Party code and the corresponding number of registered voters for said party.

In [ ]:
# Create DataFrame df_party_counts here

In [ ]:
# df_party_counts

Merge the two DataFrames.

In [ ]:
# Merge DataFrame here

In [ ]:
# Display new DataFrame here

Create a bar graph again but using the legal name for each party as the value on the x axes.

In [ ]:
#